.weather{
  padding-top: 83.3333px;
  text-align: center;
  font-family: 'Arial Narrow';
}
.me{
  color:black;
  font-family: 'Arial Narrow';
  text-decoration: none;
  display: block;
  
  margin-top: 30px;
  padding-left: 25px;

}
input[type="text"], textarea{
  background:#8ACE00;
}
.input{
  padding-top: 83.333px;
  padding-left: 25px;
  font-family: 'Arial Narrow';
  background:#8ACE00;


}
.butto{
  background-color: #8ACE00;
  border: none;	
}

body{
  background-color: #8ACE00;
}